## Playing with SPARKQL

### Uncomment if not installed

In [3]:
# import sys
# !{sys.executable} -m pip install rdflib pandas sparqldataframe simplejson

In [4]:
from rdflib import Graph
from pandas import DataFrame
from SPARQLWrapper import SPARQLWrapper, JSON
import sparqldataframe

### Import ttl files

In [6]:
g = Graph()
g.parse("ttl/Athletes.ttl", format="turtle")
print(len(g))

15317

In [7]:
g.parse("ttl/Noc_Regions.ttl", format="turtle")
print(len(g))

15547

### SPARQLWrapper

In [8]:
# endpoint = "http://dbpedia.org/sparql"
q = """
    SELECT ?label ?wikiPageID
    WHERE {
    <http://dbpedia.org/resource/Olympics> rdfs:label ?label ;
         <http://dbpedia.org/ontology/wikiPageID> ?wikiPageID
    }
"""

#df = sparql_dataframe.get(endpoint, q)
df = sparqldataframe.dbpedia_query(q)
df.head()

      label wikiPageID
0  Olympics   19391209

In [9]:
df.describe()

           label wikiPageID
count          1          1
unique         1          1
top     Olympics   19391209
freq           1          1

In [10]:
df['label'].value_counts()[:10]

Olympics    1
Name: label, dtype: int64

In [ ]:
sparql = SPARQLWrapper("http://dbpedia.org/sparql")

sparql.setQuery("""
    PREFIX dbr: <http://dbpedia.org/resource/>
    PREFIX dbp:<http://dbpedia.org/property/>
    PREFIX dbo:<http://dbpedia.org/ontology/>

    SELECT ?countryLabel ?capital ?pop
    WHERE {
        ?country a dbo:Country.
        ?country rdfs:label ?countryLabel .
         ?country dbo:capital ?capital.
         ?country dbp:populationCensus | dbo:populationTotal ?pop .
         filter(langMatches(lang(?countryLabel),"EN"))
    }
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for result in results["results"]["bindings"]:
    print(result["countryLabel"]["value"], result["pop"]["value"] )