## Playing with Austrian athletes and formatting options

Contents
* combine Athletes_01_AUT.ttl and noc_regions.ttl
* how many Austrians took part in OGs
* query an athlete, order by age and see how many times he/she took part in OGs
* format the above output in different ways
* average Age of all Austrian athletes
* oldest and youngest athlete

### Uncomment if not installed

In [98]:
import sys
!{sys.executable} -m pip install rdflib pandas sparqldataframe simplejson

Requirement already satisfied: rdflib in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (4.2.2)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: sparqldataframe in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (0.1.0)
Requirement already satisfied: simplejson in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (3.17.0)
Requirement already satisfied: pyparsing in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from rdflib) (2.4.5)
Requirement already satisfied: isodate in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from rdflib) (0.6.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from pandas) (1.18.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: requests in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from sparqldataframe) (2.22.0)
Requirement already satisfied: six in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from isodate->rdflib) (1.13.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from requests->sparqldataframe) (1.25.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from requests->sparqldataframe) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from requests->sparqldataframe) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages (from requests->sparqldataframe) (2.8)

In [99]:
from rdflib import Graph
from pandas import DataFrame
from SPARQLWrapper import SPARQLWrapper, JSON
import sparqldataframe

### Import ttl files

In [100]:
g = Graph()
g.parse("ttl/Athletes_01_AUT.ttl", format="turtle")
print(len(g))

15317

In [101]:
g.parse("ttl/noc_regions.ttl", format="turtle")
print(len(g))

15547

### How many Austrians took part in Olympic Games

In [102]:
result = g.query("""
PREFIX foaf:  <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT (COUNT(DISTINCT ?name) AS ?count)
WHERE {
    ?athlete a foaf:Person;
             rdfs:label ?name;
}
""")

for row in result:
    print("%s Austrian took part" % row)

2334 Austrian took part

### Query Name, order by age and see how many times an Athlete took part in OGs: 

eg: Hubert Raudaschl, Christoph Sumann, Hermann Maier, ...

In [103]:
result = g.query("""
PREFIX foaf:  <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX ex: <http://example.org/ontology/olympics/>
PREFIX noc: <http://example.org/resource/olympics/NOC/>

SELECT ?athleteLabel ?age ?country
WHERE {
    ?athlete a foaf:Person;
             rdfs:label "Hubert Raudaschl";
             foaf:age ?age;
             rdfs:label ?athleteLabel;
             ex:noc ?noc .
    ?noc dbo:country ?country .
}
ORDER BY ?age
""")

print("Total ",len(result))

for row in result:
    print(row)

Total  9
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('22', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('26', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('30', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('33', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('37', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('41', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('46', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('49', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))
(rdflib.term.Literal('Hubert Raudaschl'), rdflib.term.Literal('53', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#int')), rdflib.term.Literal('Austria'))

#### Format %

In [104]:
print("Total: ",len(result))

for row in result:
    print("Athlete: %s, Age: %s, COO: %s" % row)

Total:  9
Athlete: Hubert Raudaschl, Age: 22, COO: Austria
Athlete: Hubert Raudaschl, Age: 26, COO: Austria
Athlete: Hubert Raudaschl, Age: 30, COO: Austria
Athlete: Hubert Raudaschl, Age: 33, COO: Austria
Athlete: Hubert Raudaschl, Age: 37, COO: Austria
Athlete: Hubert Raudaschl, Age: 41, COO: Austria
Athlete: Hubert Raudaschl, Age: 46, COO: Austria
Athlete: Hubert Raudaschl, Age: 49, COO: Austria
Athlete: Hubert Raudaschl, Age: 53, COO: Austria

#### with index

In [105]:
for index,row in enumerate(result):
    print(index+1, "Athlete: %s, Age: %s, COO: %s" % row)

1 Athlete: Hubert Raudaschl, Age: 22, COO: Austria
2 Athlete: Hubert Raudaschl, Age: 26, COO: Austria
3 Athlete: Hubert Raudaschl, Age: 30, COO: Austria
4 Athlete: Hubert Raudaschl, Age: 33, COO: Austria
5 Athlete: Hubert Raudaschl, Age: 37, COO: Austria
6 Athlete: Hubert Raudaschl, Age: 41, COO: Austria
7 Athlete: Hubert Raudaschl, Age: 46, COO: Austria
8 Athlete: Hubert Raudaschl, Age: 49, COO: Austria
9 Athlete: Hubert Raudaschl, Age: 53, COO: Austria

#### with pandas DataFrame

In [107]:
DataFrame(result, columns=result.vars)

       athleteLabel age  country
0  Hubert Raudaschl  22  Austria
1  Hubert Raudaschl  26  Austria
2  Hubert Raudaschl  30  Austria
3  Hubert Raudaschl  33  Austria
4  Hubert Raudaschl  37  Austria
5  Hubert Raudaschl  41  Austria
6  Hubert Raudaschl  46  Austria
7  Hubert Raudaschl  49  Austria
8  Hubert Raudaschl  53  Austria

### Average Age of all Austrian athletes

In [108]:
result = g.query("""
PREFIX foaf:  <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT (ROUND(AVG(?age)) AS ?rounded_average_age)
WHERE {
    ?athlete a foaf:Person;
             foaf:age ?age; 
}
""")   
for row in result:
    print("Average Age: %s" % row)

Average Age: 27

### Oldest and youngest athlete

In [109]:
result = g.query("""
PREFIX foaf:  <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT (MAX(?age) as ?maxAge) (MIN(?age) as ?minAge)
WHERE {
    ?athlete a foaf:Person;
             rdfs:label ?name;
             foaf:age ?age;
}
""")   
for row in result:
    print ("Oldest: %s \nYoungest: %s" % row)

Oldest: 76
Youngest: 12

### SPARQLWrapper

In [115]:
# endpoint = "http://dbpedia.org/sparql"
q = """
    SELECT ?label ?wikiPageID
    WHERE {
    <http://dbpedia.org/resource/Olympics> rdfs:label ?label ;
         <http://dbpedia.org/ontology/wikiPageID> ?wikiPageID
    }
"""

#df = sparql_dataframe.get(endpoint, q)
df = sparqldataframe.dbpedia_query(q)
df.head()

      label wikiPageID
0  Olympics   19391209

In [116]:
df.describe()

           label wikiPageID
count          1          1
unique         1          1
top     Olympics   19391209
freq           1          1

In [117]:
df['label'].value_counts()[:10]

Olympics    1
Name: label, dtype: int64

In [74]:
sparql = SPARQLWrapper("http://dbpedia.org/sparql")

sparql.setQuery("""
    PREFIX dbr: <http://dbpedia.org/resource/>
    PREFIX dbp:<http://dbpedia.org/property/>
    PREFIX dbo:<http://dbpedia.org/ontology/>

    SELECT ?countryLabel ?capital ?pop
    WHERE {
        ?country a dbo:Country.
        ?country rdfs:label ?countryLabel .
         ?country dbo:capital ?capital.
         ?country dbp:populationCensus | dbo:populationTotal ?pop .
         filter(langMatches(lang(?countryLabel),"EN"))
    }
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for result in results["results"]["bindings"]:
    print(result["countryLabel"]["value"], result["pop"]["value"] )

Transnistria autonomous territorial unit with special legal status 505153
Transnistria autonomous territorial unit with special legal status 555347
Syria 17064854
Seneca Nation of Indians 8000
Seneca Nation of Indians 8000
Åland Islands 29013
Ascension Island 880
Egypt 85783
Egypt 72798000
United States 324720797
New Zealand 4242048
United States 309349689
Twente 626586
Zeila & Lughaya State 270858
Republic of Saugeais 4337
Afghanistan 32564342
Albania 2886026
Algeria 40400000
Andorra 85470
Anguilla 13600
Antigua and Barbuda 91295
Aruba 103400
Albania 2821977
Algeria 37900000
Angola 25789024
Anguilla 13452
Antigua and Barbuda 81799
Azerbaijan 9754830
Bangladesh 168957745
Belarus 9498700
Belize 368310
Benin 10879829
Bolivia 11410651
Brazil 206440850
Brunei 415717
Burkina Faso 17322796
Cameroon 22534532
Central African Republic 4709000
Chad 13670084
Chile 18006407
China 1376049000
Christmas Island 2072
Cocos (Keeling) Islands 596
Colombia 48786100
Comoros 798000
Croatia 4190700
Cyprus 1141166
Czech Republic 10553443
Dominican Republic 10075045
Ecuador 16144000
El Salvador 6377195
Equatorial Guinea 1222442
European Union 510056011
Federated States of Micronesia 106104
Fiji 909389
Finland 5488543
French Polynesia 285735
Gabon 1475000
Germany 82175700
Ghana 27043093
Greece 10955000
Guam 161785
Guernsey 62711
Guinea 8746128
Guinea-Bissau 1693398
Haiti 10604000
Honduras 8249574
Hungary 9855571
India 1293057000
Bangladesh 149772364
Barbados 277821
Belgium 11250585
Belize 324528
Benin 10008749
Bermuda 64237
Bosnia and Herzegovina 3531159
British Virgin Islands 28054
Bulgaria 7202198
Burkina Faso 14017262
Cameroon 17463836
Cayman Islands 56732
Central African Republic 4987640
Chad 11039873
Chile 16341929
China 1339724852
Colombia 42888592
Cook Islands 14974
Costa Rica 4586353
Croatia 4284889
Cyprus 838897
Czech Republic 10436560
Dominican Republic 9478612
Ecuador 14483499
French Polynesia 268270
Geography of Saint Pierre and Miquelon 7036
Ghana 24200000
Greece 10815197
Guam 159358
Guinea 11628972
Honduras 7529403
India 1210854977
Indonesia 255461700
Iran 79200000
Italy 60674003
Jamaica 2950210
Jersey 100080
Kazakhstan 17693500
Kiribati 103500
Kosovo 1859203
Laos 6803699
Latvia 1973700
Lebanon 6184701
Lesotho 2067000
Liberia 4503000
Libya 6411776
Liechtenstein 37340
Lithuania 2859709
Indonesia 237424363
Isle of Man 84497
Italy 59433744
Japan 127110047
Kiribati 103500
Kosovo 1739825
Laos 5621000
Latvia 2070371
Lesotho 2031348
Liberia 3476608
Libya 5658000
Luxembourg 576249
Madagascar 22434363
Malawi 16407000
Maldives 393253
Malta 445426
Marshall Islands 72191
Mauritius 1261208
Moldova 2913281
Monaco 37800
Mongolia 3081677
Montserrat 4900
Montserrat 4900
Montserrat 4900
Mozambique 24692144
Netherlands 17000059
Nigeria 188462640
Niue 1190
Norfolk Island 2210
North Korea 24895000
Northern Mariana Islands 52344
Norway 5214900
Oman 4441448
Pakistan 201995540
Palau 17948
Panama 3929141
Papua New Guinea 7059653
Paraguay 6783272
Pitcairn Islands 49
Poland 38483957
Puerto Rico 3474182
Luxembourg 439539
Madagascar 12238914
Malawi 9933868
Maldives 341356
Mali 14517176
Malta 416055
Marshall Islands 53158
Mauritius 1236817
Moldova 3383332
Moldova 3938679
Monaco 35352
Montenegro 620029
Morocco 33848242
Mozambique 21397000
Myanmar 51486253
Namibia 2113077
Nauru 10084
Nevis 12106
New Caledonia 268767
Nicaragua 6167237
Niger 17138707
Nigeria 140431790
North Korea 24052231
Northern Mariana Islands 53833
Norway 5214890
Oman 2773479
Palau 20918
Panama 3405813
Papua New Guinea 5190783
Philippines 100981437
Pitcairn Islands 45
Poland 38511824
Puerto Rico 3725789
Republic of Ireland 4757976
Romania 19511000
Russia 144192450
Rwanda 11262564
Saint Kitts and Nevis 54961
Saint Vincent and the Grenadines 103000
Samoa 194899
San Marino 33020
Savoy 1125119
Senegal 13567338
Seychelles 92000
Singapore 5610000
Slovakia 5426252
Slovenia 2063077
Somalia 12316895
South Georgia and the South Sandwich Islands 30
South Korea 50801405
Sudan 40235000
Suriname 573311
Svalbard 2642
Swaziland 1119000
Swaziland 1119000
Switzerland 8341000
Taiwan 23508362
The Bahamas 392718
Abkhazia 242862
Djibouti 828324
Romania 20121641
Rwanda 10515973
Saint Helena 4534
Saint Kitts and Nevis 46325
Saint Lucia 183600
Saint Pierre and Miquelon 6080
Saint Vincent and the Grenadines 109991
Samoa 179186
Senegal 13508715
Sierra Leone 7075641
Slovakia 5397036
Slovenia 1964036
Spain 46423064
Sri Lanka 20277597
Sri Lanka 20277597
Sudan 30894000
Suriname 541638
Swaziland 1018449
Swaziland 1018449
Switzerland 8139600
Abkhazia 240705
Îles des Saintes 3418
Posavina Canton 48089
Adjara 393700
Carriacou and Petite Martinique 6081
Curaçao 154843
Democratic Republic of the Congo 81680000
Denmark 5707251
Georgia (country) 3720400
Georgia (country) 3720400
Ivory Coast 23919000
Ivory Coast 23919000
Serbia 7041599
Somaliland 4500000
Adjara 336077
Georgia (country) 3713804
Georgia (country) 3713804
Ivory Coast 22671331
Ivory Coast 22671331
Tajikistan 8610000
Thailand 67959000
Togo 7552318
Tunisia 10982754
Tuvalu 10640
Ukraine 42539010
United Kingdom 65110000
United States Virgin Islands 114743
Uruguay 3427000
Uzbekistan 31576400
Wallis and Futuna 15500
Zambia 16212000
Zimbabwe 12973808
Cambodia 15458332
Ethiopia 99465819
Federation of Bosnia and Herzegovina 2371603
Gagauzia 160700
Iraqi Kurdistan 5500000
Kenya 45010056
Kyrgyzstan 6000000
Tajikistan 7564500
Thailand 64785909
The Gambia 1882450
Togo 5337000
Tonga 103036
Tristan da Cunha 266
Ukraine 48457102
United Kingdom 63181775
United States Virgin Islands 106405
Uruguay 3286314
Vanuatu 243304
Venezuela 31416000
Wallis and Futuna 12197
Zambia 13092666
Zimbabwe 13061239
Boys Nation 19449
Cambodia 13395682
Ethiopia 73750932
Kenya 38610097
Kyrgyzstan 5362800
Nepal 26494504
Northern Cyprus 313626
Solomon Islands 523000
South Ossetia 51547
Turkmenistan 5171943
Vietnam 91700000
Northern Cyprus 286257
South Ossetia 53532
Nagorno-Karabakh Republic 146600
Wallis (island) 10731
Nagorno-Karabakh Republic 150932
Rojava 4600000
Saint Helena, Ascension and Tristan da Cunha 7729
Sovereign Military Order of Malta 3
Sovereign Military Order of Malta 3
Sovereign Military Order of Malta 3
Tanzania 51820000
Free Territory of Trieste 370000
Tanzania 44928923
United Arab Emirates 5779760
Argentina 43417000
Autonomous Province of Kosovo and Metohija 1804838
British Antarctic Territory 250
Burundi 11178921
Canada 36286425
Cherokee Nation 299862
Estonia 1315944
Falkland Islands 2932
France 66736000
Turks and Caicos Islands 31458
United Arab Emirates 4106427
Zanzibar 1303569
Argentina 40117096
Autonomous Province of Kosovo and Metohija 1956196
Burundi 8053574
Canada 33476688
Collectivity of Saint Martin 36286
Cuba 11239004
Estonia 1294455
Gibraltar 32194
Grenada 109590
Guatemala 15806675
Guyana 735554
Israel 8541000
Jubaland 953045
Kuwait 4348395
Mauritania 4067564
Mexico 119530753
South Sudan 12340000
Guyana 747884
Israel 7412200
Kuwait 2213403
Mauritania 3537368
Republika Srpska 1.146520224E11
Republika Srpska 1.146520224E11
South Sudan 8260490
Union of Sovereign States 293047571
Wa State 558000
Cape Verde 525000
East Timor 1167242
Paraguayan architecture 6802000
American Samoa 54343
Armenia 2998600
Austria 8725931
Bahrain 1378000
Bhutan 742737
Dominica 72660
Eritrea 6380803
Iraq 37056169
Jordan 9813095
American Samoa 55519
Armenia 3018854
Australia 21507717
Bahrain 1234571
Bhutan 634982
Dominica 72324
Jordan 9531712
Kingdom of the Netherlands 17100715
Malaysia 28334
Malaysia 28334
Peru 31151643
Puntland 4284633
Qatar 2383705
Republic of Macedonia 2069162
Republic of the Congo 4662446
Saudi Arabia 30770375
South Africa 54956900
South Africa 54956900
South Africa 54956900
State of Palestine 4550368
State of Palestine 4550368
Malaysia 28334135
Malaysia 28334135
Mount Athos 1811
Peru 28220764
Qatar 1699435
Republic of Macedonia 2022547
South Africa 51770560
South Africa 51770560
South Africa 51770560
State of Palestine 4550368
Sweden 9920881
São Tomé and Príncipe 190428
Trinidad and Tobago 1349667
Akrotiri and Dhekelia 7700
Alderney 2020
Anjouan 277500
Darfur 7500000
Grande Comore 316600
Sweden 9658301
São Tomé and Príncipe 192993
Trinidad and Tobago 1328019
Turkey 79463663
Anjouan 259100
Central Bosnia Canton 273149
Grande Comore 295700
Herzegovina-Neretva Canton 236278
Karakalpakstan 1711800
Mohéli 38000
Nakhchivan Autonomous Republic 414900
Mohéli 35400
Ross Dependency 10
Ross Dependency 10
Ross Dependency 10
Ross Dependency 10
Transnistria 505153
Upper Mustang 7000
Yemen 25408000
Yemen 25408000
Yemen 25408000
Tobago 60874
Torres Strait Islands 4248
Transnistria 555347
Una-Sana Canton 299343
Vojvodina 1931809
West Herzegovina Canton 97893
Yemen 19685000
Yemen 19685000
Yemen 19685000
Canton 10 84127
Canton 10 84127
Faroe Islands 49188
Faroe Islands 48346
Kingdom of Dagbon 4228116
Third Hellenic Republic 10955000
Mohegan Indian Tribe 1920
Khatumo State 500000
Bunyoro 1400000
Third Hellenic Republic 10815197
Sint Maarten 33609
Saint Barthélemy 9035
Sahrawi Arab Democratic Republic 100000
Sahrawi Arab Democratic Republic 100000
Autonomous Republic of Crimea 2033700