## Olympics and Austrian athletes

Contents
* combines all files to a massive triple store
* lists the name of every gold medallist
* Lists the names of every athlete, with at least one medal, alongside their total number of medals (sorted by the number of medals)
* what else can we ask?

### Uncomment if not installed

In [1]:
# import sys
# !{sys.executable} -m pip install rdflib pandas

In [2]:
from rdflib import Graph
from pandas import DataFrame

### Import ttl files

In [3]:
g = Graph()
g.parse("ttl/Athletes.ttl", format="turtle")
print(len(g))

15317

In [4]:
g.parse("ttl/NOC_Regions.ttl", format="turtle")
print(len(g))

15547

In [5]:
g.parse("ttl/Games.ttl", format="turtle")
print(len(g))

15832

In [6]:
g.parse("ttl/Events.ttl", format="turtle")
print(len(g))

17143

In [7]:
g.parse("ttl/Medals.ttl", format="turtle")
print(len(g))

17146

In [8]:
g.parse("ttl/Instance.ttl", format="turtle")
print(len(g))

32570

### Lists the name of every gold medallist

In [9]:
result = g.query("""
    PREFIX ex: <http://example.org/ontology/olympics/>
    PREFIX exr: <http://example.org/resource/olympics/>
    PREFIX rdfs:  <http://www.w3.org/2000/01/rdf-schema#>

    SELECT DISTINCT ?name
    WHERE {
     ?instance ex:athlete ?athlete;
     ex:medal "Gold" .
     ?athlete rdfs:label ?name .
    }
""")

print("Total ",len(result))

DataFrame(result, columns=result.vars)

Total  87

                      name
0     Anton "Toni" Innauer
1       Andrea Fischbacher
2         Wolfgang Schwarz
3        Gerhard Haidacher
4   Paul Neumann (-Newman)
..                     ...
82          Manfred Schmid
83            Rudolf Watzl
84   Hermine "Herma" Bauma
85         Josef Steinbach
86   Gregor Schlierenzauer

[87 rows x 1 columns]

### Lists the names of every athlete, with at least one medal, alongside their total number of medals (sorted by the number of medals)

In [10]:
result = g.query("""
PREFIX walls: <http://example.org/ontology/olympics/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?name (COUNT(?name) As ?noOfMedals)
WHERE {
  ?instance walls:athlete ?athlete ;
            walls:medal   ?medal .
  ?athlete  rdfs:label    ?name .
}
GROUP BY ?name
ORDER BY DESC(?noOfMedals)
""")

print("Total ",len(result))

DataFrame(result, columns=result.vars)

Total  313

                      name noOfMedals
0           Felix Gottwald          7
1       Thomas Morgenstern          4
2    Gregor Schlierenzauer          4
3       Klaus Sulzenbacher          4
4            Hermann Maier          4
..                     ...        ...
308    Liese Sykora-Prokop          1
309         Thomas Frhmann          1
310          Viktor Flessl          1
311      Reinhold Trampler          1
312          Reinhold Senn          1

[313 rows x 2 columns]